@using SportsStore.Domain.Entities
@model SportsStore.Domain.Entities.User

@{
    ViewBag.Title = "Change Status";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="card">
    <div class="card-header">
        <h3>Edit User</h3>
    </div>
    <div class="card-body">
        <div class="form-group">
            <label class="lead">Name</label>
            <p class="form-control-plaintext">@Model.UserName</p>
        </div>
        @using (Html.BeginForm())
        {
            @Html.HiddenFor(u => u.Id)
            <div class="form-group">
                <label class="lead">Status</label>
                @Html.DropDownListFor(u => u.Status, new SelectList(Enum.GetNames(typeof(Status))), new { @class = "form-control-sm" })
            </div>
            <input type="submit" class="btn btn-primary" value="Save" />
            @Html.ActionLink("Cancel", "Users", null, new { @class = "btn" })
        }
    </div>
</div>