@model SportsStore.WebUI.Models.ProductsListViewModel

@{
    ViewBag.Title = "Products";
}

<style>
    .padding_bottom {
        padding-bottom: 20px;
    }

    .padding_top_for_card {
        padding-top: 20px;
    }
</style>

@using (Html.BeginForm("List", "Product", FormMethod.Post))
{
    <div class="row">
        @Html.TextBox("searchBox", "", new { @class = "form-control" })
    </div>
    <input type="submit" value="Search" />

}

<div class="padding_bottom">
    Sort by @Html.Action("Sort", "Product")
    <div class="padding_top_for_card">
        @foreach (var p in Model.Products)
        {
            @Html.Partial("ProductSummary", p)
        }
    </div>
</div>
<div class="btn-group float-right">
    @Html.PageLinks(Model.PagingInfo, x => Url.Action("List", new { page = x, category = Model.CurrentCategory, sorting = Model.Sorting }))
</div>
